{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mb-5">
            <h1>{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button mt-4 text-center submit-button" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}