{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">

        <div class="col-12 col-sm-8 col-md-6 text-center mb-5">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? <br> Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button btn-outline-success mt-4 text-center submit-button" value="{% trans 'Reset My Password' %}" />
            </form>

            <p class="mt-4">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

        </div>
    </div>
</div>
</div>
{% endblock %}