@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@400;600&display=swap');


/* font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; */

/* Dark green: 007842 */
/* light green  7AE7C7 */
/* off white: EFFBED */


body {
    font-family: 'Raleway', sans-serif;
}
/* Navbar */

#main-nav {
    background-color: #007842;
    color: #Effbed;
}

#nav-heading, h1.text-white {
    font-family:'Abril Fatface', cursive;
    font-size: 25px;
    letter-spacing: 3px;
    color: #Effbed;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link,  .navbar-light .navbar-nav .nav-link:hover  {
    color: #Effbed;
}

/* Header */

header.bg-image-full {
    background: url("../images/header-background.jpg")
}