@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Raleway:wght@400;600&display=swap');

/* General styling */

body {
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

.green-text {
    color: #007842!important;
    background-color: white;
}

.pink-text {
    background-color: white;
    color: #C97064;
}

.green-bground {
    background-color: #007842;
    color: white;
}

.pink-bground {
    background-color: #C97064;
    color: white;
    padding: 5px;
}

.brand-text {
    font-family: 'Lobster Two', cursive;
    letter-spacing: 3px;
    font-weight: 700;
}

.page-links {
    text-decoration: none !important;
    color: #007842;
    border: none;
    position: relative;
    display: block;
    font-size: 2em;
}

.page-links:hover {
    background-color: #C97064;
    text-decoration: none;
    color: white;
}

a {
    color: #007842;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    background-color: #007842;
    color: white;
}

/* Navbar */

nav {
    border-bottom: 3px solid #C97064;
}

#nav-heading {
    font-size: 25px;
    color: white;
}

.navbar-dark .navbar-nav,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-toggler-icon {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-item:hover,
.navbar-dark .navbar-nav:hover {
    
    color: #007842!important;
    background-color: white;
}

/* Header */

header.bg-image-full {
    background: url("https://res.cloudinary.com/dm3odn3pb/image/upload/v1641287186/static/images/header-background.f094be5a1a24.jpg");
    width: 100vw;
}

p#subheading,
#main-heading {
    background-color: rgba(201, 112, 100, 0.8);
    width: 200px;
    margin: auto;
}

/* Footer */

#main-footer {
    font-size: 1.25rem;
    font-weight: 800;
}

#social-media-icons {
    width: 40px;
    height: 40px;
}

.contact-link {
    text-decoration: none;
    color: white;
}


a.ic {
    color: #effbed;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 1rem;
}

.contact-link:hover,
a.ic:hover {
    background-color: inherit;
    color: #007842;
}

a.ic::after {
    color: #effbed;
}

/* Index.html */

.img-thumbnail {
    height: 400px;
}

.img-thumbnail:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.principles-list {
    width: 400px;
    margin: auto;
    text-align: center;
    list-style: none;
}

.opening-time {
    text-decoration: none;
    list-style: none;
}


/* Reservations page & contact page */

.full-form {
    list-style: none;
}

.full-form li label,
.full-form label {
    margin-left: 30px;
}

.full-form li {
    padding: 5px;
    margin-bottom: 20px;
}

li input,
li select,
.input-group.date {
    width: 300px;
    margin-right: 30px;
    float: right;
}

.button {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.submit-button {
    color: white;
    background-color: #198754;
    border-color: #198754;
    text-transform: capitalize;
}

.submit-button:hover,
.cancel-button:hover {
    color: #fff;
    background-color: #C97064;
    border-color: #C97064;
}

.cancel-button {
    color: white;
    background-color: #ee0a0a;
    border-color: #ee0a0a;
    text-transform: capitalize;
}

.inline-btn {
    display: inline;
}

input#id_name.textinput.textInput,
input#id_email.emailinput,
textarea#id_message.textarea {
    width: 100%;
}

/* Date picker */

.ui-widget {
    font-family: 'Raleway', sans-serif;
}

.ui-widget-header {
    background: #007842;
    color: #Effbed;
}


/* Manage Reservations page */

.confirmed {
    background-color: #007842;
    color: #Effbed;
    padding: 2px;
}

.pending {
    background-color: rgb(216, 141, 2);
    color: #Effbed;
    padding: 2px;
}

.rejected {
    background-color: rgb(167, 8, 3);
    color: #Effbed;
    padding: 2px;
}


#reservation-list,
.reservation-item {
    list-style: none;
    padding-left: 0;
}


/* Accounts pages */

#signup_form,
.login {
    text-align: left;
}

#signup_form input,
.login input {
    float: right;
    width: 250px;
}

#id_remember {
    width: 50px;
    float: none;
    margin-left: 50px;
}

.buttonHolder {
    display: inline;
}

.buttonHolder li {
    list-style: none;
}

#forgot-pword {
    width: 150px;
    display: block;
    margin: 0 auto;
}

/* 404 & 500 error page https://colorlib.com/wp/template/colorlib-error-404-15/ */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#notfound .notfound-bg>div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
}

#notfound .notfound-bg>div:nth-child(1) {
    left: 20%;
}

#notfound .notfound-bg>div:nth-child(2) {
    left: 40%
}

#notfound .notfound-bg>div:nth-child(3) {
    left: 60%
}

#notfound .notfound-bg>div:nth-child(4) {
    left: 80%
}

#notfound .notfound-bg>div:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -0.5px;
    -webkit-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    transform: translateY(-160px);
    height: 160px;
    width: 2px;
    background-color: #007842;
}

@-webkit-keyframes drop {
    90% {
        height: 20px;
    }

    100% {
        height: 160px;
        -webkit-transform: translateY(calc(100vh + 160px));
        transform: translateY(calc(100vh + 160px));
    }
}

@keyframes drop {
    90% {
        height: 20px;
    }

    100% {
        height: 160px;
        -webkit-transform: translateY(calc(100vh + 160px));
        transform: translateY(calc(100vh + 160px));
    }
}

#notfound .notfound-bg>div:nth-child(1):after {
    -webkit-animation: drop 3s infinite linear;
    animation: drop 3s infinite linear;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#notfound .notfound-bg>div:nth-child(2):after {
    -webkit-animation: drop 2s infinite linear;
    animation: drop 2s infinite linear;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#notfound .notfound-bg>div:nth-child(3):after {
    -webkit-animation: drop 3s infinite linear;
    animation: drop 3s infinite linear;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#notfound .notfound-bg>div:nth-child(4):after {
    -webkit-animation: drop 2s infinite linear;
    animation: drop 2s infinite linear;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 210px;
    line-height: 210px;
}

.notfound .notfound-404 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 188px;
    font-weight: 700;
    margin: 0px;
    text-shadow: 4px 4px 0px #007842;
}

.notfound h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.notfound p {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
}

.notfound a {
    font-family: 'Raleway', sans-serif;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #007842;
    box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #007842;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    background-color: #007842;
    -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #007842;
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #007842;
}

.notfound-social {
    margin-top: 35px;
}

.notfound-social>a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    margin: 0px 5px;
}

.notfound-social>a:hover {
    background-color: #007842;
    -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #007842;
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #007842;
}

/* Media query for 404/500 pages */

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

    .notfound .notfound-404 h1 {
        font-size: 122px;
    }

    .notfound h2 {
        font-size: 26px;
    }
}

/* Media Queries for rest of site */

/* Extra-small screens */
@media screen and (min-width: 320px) {

    .full-form {
        padding: 0;
    }

    .full-form li {
        margin-bottom: 5px;
    }

    li input,
    li select,
    .input-group.date {
        float: none;
        padding-top: 5px;
    }

}

/* Small screens */
@media screen and (max-width: 375px) {
    /* index */

    .principles-list {
        width: auto;
    }

    #signup_form input,
    .login input {
        float: none;
        width: 300px;
    }

    #signup_form button,
    .login .button {
        display: block;
    }


    .full-form li label,
    .full-form label {
        margin-left: 0;
        padding-top: 2px;
        display: block;
    }

    li input,
    li select,
    .input-group.date {
        margin-right: 0;
    }

    .inline-btn {
        display: block;
        margin-bottom: 10px;
    }
}

/* for iphones */
@media screen and (max-width: 390px) {

    #id_requested_time {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 425px) {
    .full-form {
        padding: 0;
    }

    li input,
    li select,
    .input-group.date {
        width: 200px;
        float: right;
    }

}

/* Tablets */
@media screen and (min-width: 768px) {
    /* index */

    .full-form {
        padding-left: 0px;
    }

    .full-form li {
        padding: 0;
        margin-bottom: 20px;
    }

    .full-form li label,
    .full-form label {
        margin-left: 0px;
        padding-bottom: 2px;
    }

    li input,
    li select,
    .input-group.date {
        width: 250px;
        margin-bottom: 10px;
    }

    #signup_form input {
        width: 175px;
    }

}

/* Laptops */

@media screen and (min-width: 1024px) {

    #signup_form input,
    .login input {
        float: right;
        width: 250px;
    }

}