@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@400;600&display=swap');


/* font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; */

/* Dark green: 007842 / 0, 120, 66 */
/* light green  7AE7C7 / 122, 231, 199 */
/* off white: EFFBED */


body {
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

/* Navbar */

#main-nav,
#main-footer,
.dropdown-menu,
.dropdown-item {
    background-color: #007842;
    color: #Effbed;
}


#nav-heading,
h1.text-white {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    letter-spacing: 3px;
    color: #Effbed;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-toggler-icon {
    color: #Effbed;
}

.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-item:hover {
    color: #007842;
    background-color: #Effbed;
}


/* Header */

header.bg-image-full {
    background: url("../images/header-background.jpg");
    width: 100vw;
}

p#subheading {
    background-color: rgba(0, 120, 66, 0.6);
    width: 200px;
    margin: auto;
}

/* Footer */

.footer-heading {
    text-decoration: underline 1px white;
}

#social-media-icons {
    width: 40px;
    height: 40px;
}

#email-link {
    text-decoration: none;
    color: #effbed;
}

.footer-copyright {
    border-top: solid 1px white;
}

a.ic {
    color: #effbed;
    letter-spacing: 4px;
    text-decoration: none;
}

a.ic:hover {
    text-shadow: 2px 2px 4px #7AE7C7;
}

a.ic::after {
    color: #effbed;
}

/* General */

.brand-text {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
}

.page-links {
    text-decoration: none;
    color: rgba(0, 120, 66, 1);
    border: none;
}

.page-links:hover {
    text-shadow: 2px 2px 4px #7AE7C7;
    text-decoration: none;
    border: none;
    color: rgba(0, 120, 66, 1);
    background-color: none;
}

/* Index.html */

.img-thumbnail {
    height: 400px;
}

.img-thumbnail:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.principles-list {
    width: 400px;
    margin: auto;
    text-align: center;
}

.opening-time {
    text-decoration: none;
    list-style: none;
}


/* Reservations page & contact page */

.full-form {
    list-style: none;
}

.full-form li label,
.full-form label {
    margin-left: 30px;
}

.full-form li {
    padding: 5px;
    margin-bottom: 20px;
}


li input,
li select,
.input-group.date {
    width: 300px;
    margin-right: 30px;
    float: right;
}

.button {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input#id_name.textinput.textInput,
input#id_email.emailinput,
textarea#id_message.textarea {
    width: 100%;
}

.ui-widget {
    font-family: 'Raleway', sans-serif;
}

.ui-widget-header {
    background: #007842;
    color: #Effbed;
}

/* .ui-widget-content {

} */

/* Manage Reservations page */

.confirmed {
    background-color: #007842;
    color: #Effbed;
    padding: 2px;
}

.pending {
    background-color: #9D0208;
    color: #Effbed;
    padding: 2px;
}


/* Accounts pages */

#signup_form,
.login {
    text-align: left;
}

#signup_form input,
.login input {
    float: right;
    width: 250px;
}

/* #id_remember {
    width: auto;
} */

/* 404 error page https://colorlib.com/wp/template/colorlib-error-404-15/ */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#notfound .notfound-bg>div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
}

#notfound .notfound-bg>div:nth-child(1) {
    left: 20%;
}

#notfound .notfound-bg>div:nth-child(2) {
    left: 40%
}

#notfound .notfound-bg>div:nth-child(3) {
    left: 60%
}

#notfound .notfound-bg>div:nth-child(4) {
    left: 80%
}

#notfound .notfound-bg>div:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -0.5px;
    -webkit-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    transform: translateY(-160px);
    height: 160px;
    width: 2px;
    background-color: #00ffc0;
}

@-webkit-keyframes drop {
    90% {
        height: 20px;
    }

    100% {
        height: 160px;
        -webkit-transform: translateY(calc(100vh + 160px));
        transform: translateY(calc(100vh + 160px));
    }
}

@keyframes drop {
    90% {
        height: 20px;
    }

    100% {
        height: 160px;
        -webkit-transform: translateY(calc(100vh + 160px));
        transform: translateY(calc(100vh + 160px));
    }
}

#notfound .notfound-bg>div:nth-child(1):after {
    -webkit-animation: drop 3s infinite linear;
    animation: drop 3s infinite linear;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#notfound .notfound-bg>div:nth-child(2):after {
    -webkit-animation: drop 2s infinite linear;
    animation: drop 2s infinite linear;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#notfound .notfound-bg>div:nth-child(3):after {
    -webkit-animation: drop 3s infinite linear;
    animation: drop 3s infinite linear;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#notfound .notfound-bg>div:nth-child(4):after {
    -webkit-animation: drop 2s infinite linear;
    animation: drop 2s infinite linear;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 210px;
    line-height: 210px;
}

.notfound .notfound-404 h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 188px;
    font-weight: 700;
    margin: 0px;
    text-shadow: 4px 4px 0px #00ffc0;
}

.notfound h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.notfound p {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
}

.notfound a {
    font-family: 'Lato', sans-serif;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
    box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    background-color: #00ffc0;
    -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
}

.notfound-social {
    margin-top: 35px;
}

.notfound-social>a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    margin: 0px 5px;
}

.notfound-social>a:hover {
    background-color: #00ffc0;
    -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

    .notfound .notfound-404 h1 {
        font-size: 122px;
    }

    .notfound h2 {
        font-size: 26px;
    }
}

@media screen and (min-width: 320px) {

    .full-form {
        padding: 0;
    }

    .full-form li {
        margin-bottom: 5px;
    }

    li input,
    li select,
    .input-group.date {
        float: none;
        padding-top: 5px;
    }
}

@media screen and (max-width: 375px) {
    /* index */

    .principles-list {
        width: auto;
    }

    #signup_form input,
    .login input {
        float: none;
        width: 300px;
    }

    #signup_form button,
    .login .button {
        display: block;
    }


    .full-form li label,
    .full-form label {
        margin-left: 0;
        padding-top: 2px;
        display: block;
    }

    li input,
    li select,
    .input-group.date {
        margin-right: 0;
    }
}

@media screen and (min-width: 425px) {
    .full-form {
        padding: 0;
    }

    li input,
    li select,
    .input-group.date {
        width: 200px;
        float: right;
    }

    /* .submit-button {
        padding: 10px 0;
    } */
}

@media screen and (min-width: 768px) {
    /* index */

    .full-form {
        padding-left: 0px;
    }

    .full-form li {
        padding: 0;
        margin-bottom: 20px;
    }

    .full-form li label,
    .full-form label {
        margin-left: 0px;
        padding-bottom: 2px;
    }

    li input,
    li select,
    .input-group.date {
        width: 250px;
        margin-bottom: 10px;
    }

    #signup_form input {
        width: 175px;
    }

}

@media screen and (min-width: 1024px) {
    /* #signup_form {
        text-align: left;
        margin: 0 100px;
    } */

    #signup_form input,
    .login input {
        float: right;
        width: 250px;
    }

    .principles-list {
        width: 50%;
        margin-left: 25%;
    }
}