{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Grow Restaurant and Cafe's website, where you can find our current menus & make reservations.">
    <!-- Accept-Encoding: gzip, compress, br
    <meta http-equiv="Cache-control" content="max-age=604800, must-revalidate"> -->
    <title>GROW Restaurant & Cafe</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <!-- JQuery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- JQuery for datepicker -->
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <!-- Animate  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark green-bground" id="main-nav">
        <div class="container-fluid">
            <a class="navbar-brand brand-text" href="{% url 'index' %}" id="nav-heading">GROW</a>
            <!-- Collapsible icon for smaller screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item light-text green-bground">
                        <a class="nav-link {% if request.resolver_match.url_name == 'index' %}
                        green-text {% else %} text-white {% endif %}" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown green-bground">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'menus' %}
                        green-text {% else %} text-white {% endif %}" href="{% url 'menus' %}" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menus
                        </a>
                        <ul class="dropdown-menu green-bground" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item green-bground {% if request.resolver_match.url_name == 'food_menu' %}
                                green-text {% else %} text-white {% endif %}" href="{% url 'food_menu' %}">Food</a>
                            </li>
                            <li><a class="dropdown-item green-bground {% if request.resolver_match.url_name == 'drinks_menu' %}
                                green-text {% else %} text-white {% endif %}"
                                    href="{% url 'drinks_menu' %}">Drinks</a></li>
                            <li>
                        </ul>
                    </li>
                    <li class="nav-item green-bground">
                        <a class="nav-link {% if request.resolver_match.url_name == 'reservations' %}
                        green-text {% else %} text-white {% endif %}"
                            href="{% url 'reservations' %}">Reservations</a>
                    </li>
                    <li class="nav-item green-bground">
                        <a class="nav-link {% if request.resolver_match.url_name == 'contact_us' %}
                        green-text {% else %} text-white {% endif %}" href="{% url 'contact_us' %}">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <!-- Display manage reservations, edit customer details & logout option if user is logged in -->
                    <li class="nav-item ml-auto">
                        <a class="nav-link {% if request.resolver_match.url_name == 'manage_reservations' %}
                        navbar-active {% else %} text-white {% endif %}" href="{% url 'manage_reservations' %}">Manage
                            Reservations</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link {% if request.resolver_match.url_name == 'edit_customer_details' %}
                        navbar-active {% else %} text-white {% endif %}"
                            href="{% url 'edit_customer_details' %}">Update Details</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}
                        navbar-active {% else %} text-white {% endif %}" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item ml-auto">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %}
                        navbar-active {% else %} text-white {% endif %}" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}
                        navbar-active {% else %} text-white {% endif %}" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="py-5 bg-image-full">
        <div class="text-center my-5">
            <h1 class="text-white fs-3 brand-text" id="main-heading">GROW</h1>
            <p class="text-white mb-0 fw-bolder" id="subheading">Restaurant & Cafe</p>
        </div>
    </header>

    <!-- Messages/Alerts -->
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-8 offset-md-2 text-center">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert dismissable fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block content%}

    {% endblock %}

    <!-- Footer  https://mdbootstrap.com/docs/b4/jquery/navigation/footer/ -->
    <footer class="page-footer font-small text-center green-bground" id="main-footer">
        <!-- Footer Elements -->
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-sm-8 col-md-6 col-lg-4 mt-4 pb-2 pink-bground" id="opening-hours">
                    <!-- Opening hours section of footer -->
                    <h4 class="brand-text mt-2"><strong>Opening Hours</strong></h4>
                        <p class="clock-time">Mon - Fri: 7am-8pm</p>
                        <p>Sat - Sun: 8am - 10pm</p>
                        <p><strong>Bank Holidays: </strong> Closed</p>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4 mt-4 pb-2 pink-bground" id="map-section">
                    <!-- Map section of footer -->
                    <h4 class="brand-text mt-2" ><strong>Find us!</strong></h4>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.7975206891574!2d-0.12180388407318832!3d51.571945313802374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761bbdc399e54f%3A0x73cee8db4e0f4e96!2sCrouch%20Hill%2C%20London%20N4%204AJ!5e0!3m2!1sen!2suk!4v1641838016037!5m2!1sen!2suk"
                            width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <!-- Contact information section of footer -->
                <div class="col-sm-8 col-lg-4 mt-4 pb-2 pink-bground" id="contact-section">
                    <h4 class="footer-heading brand-text mt-2"><strong>Stay In Touch</strong></h4>
                        <p>Email: <a href="mailto:daisy.l.g@hotmail.co.uk"
                                class="contact-link">info@growrestaurant.com</a></p>
                        <p>Address: 12 Crouch Hill,<br> London N4 4AJ</p>
                        <p>Phone: <span class="contact-link">02076841002</span></p>
                        <div class="mb-2 flex-center">
                            <!-- Social media links -->
                            <!-- Facebook -->
                            <a class="ic" href="https://www.facebook.com/"
                                aria-label="Take a look at our facebook, opens in a new tab" target="_blank"
                                rel="noreferrer">
                                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="ic" href="https://twitter.com/?lang=en"
                                aria-label="Take a look at our twitter, opens in a new tab" target="_blank"
                                rel="noreferrer">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ic" href="https://www.instagram.com/"
                                aria-label="Take a look at our instagram, opens in a new tab" target="_blank"
                                rel="noreferrer">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center green-bground py-3">© 2021 Copyright:
            <h4><span class="brand-text">GROW</span></h4>
        </div>

    </footer>
    <!-- Footer -->

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/ad6c696766.js" crossorigin="anonymous"></script>


    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Personal JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>