{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mb-3">
            <h2 class="text-center mt-2 mb-3">Cancel your reservation at <span class="brand-text">GROW</span></h2>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <form method="POST" class="text-center mb-5" id="delete-form">
                <ul class="reservation"></ul>
                {% csrf_token %}
                <h5>Reservation ID: {{ reservation.reservation_id }} </h5>
                </li>
                {% if reservation.no_of_guests == 1 %}
                <li class="reservation-item">Guests: {{ reservation.no_of_guests }} person </li>
                {% else %}
                <li class="reservation-item">Guests: {{ reservation.no_of_guests }} people </li>
                {% endif %}
                <li class="reservation-item">Time: {{ reservation.requested_time }} </li>
                <li class="reservation-item">Date: {{ reservation.requested_date|date:"d/m/Y" }} </li>


                <button type="button" data-toggle="modal" data-target="#confirmationModal" href="#confirmationModal"
                    class="button mt-4 text-center cancel-button" id="delete-reservation">Cancel
                    Reservation</button>

                <!-- Modal -->
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                    aria-labelledby="confirmationModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure?</h5>
                                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this
                                reservation? <br>This CANNOT be undone!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Nope, changed my mind!</button>
                                <button type="submit" class="btn btn-danger">Yes, delete.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}