{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center my-2">Drinks at <span class="brand-text">GROW</span></h2>
            <p class="text-center mb-3">V - Veggie | VE - Vegan</p>
        </div>
    </div>

    
    <div class="row m-2 d-flex justify-content-center">

        <div class="col-sm-4 col-md-6">
            <!-- Hot drinks menu -->
            <h3 class="mb-4 text-center brand-text pink-bground">Hot Drinks</h3>
            {% if drinks_items.hotdrinks_items %}
            {% for drinkitem in drinks_items.hotdrinks_items %}

            <h5> {{ drinkitem.drink_name }} </h5>

            <p> <em>{{ drinkitem.description }}</em> | <strong>£{{ drinkitem.price|floatformat:2 }}</strong></p>
            <p> {{ drinkitem.dietary }} | Allergens: {{ drinkitem.allergens }}</p>

            {% endfor %}

            {% else%}

            <p>Menu being updated - please come back soon!</p>

            {% endif %}

            <hr>

            <!-- Fruit juices & smoothies menu -->
            <h3 class="mb-4 text-center brand-text pink-bground">Fruit Juices & Smoothies</h3>
            {% if drinks_items.fruitjuices_smoothies_items %}
            {% for drinkitem in drinks_items.fruitjuices_smoothies_items %}

            <h5> {{ drinkitem.drink_name }} </h5>

            <p> <em>{{ drinkitem.description }}</em> | <strong>£{{ drinkitem.price|floatformat:2 }}</strong></p>
            <p> {{ drinkitem.dietary }} | Allergens: {{ drinkitem.allergens }}</p>

            {% endfor %}

            {% else%}

            <p>Menu being updated - please come back soon!</p>
            {% endif %}

            <hr>

            <!-- Alcohol menu -->
            <h3 class="mb-4 text-center brand-text pink-bground">Wine/Beer/Cocktails</h3>
            {% if drinks_items.alcohol_items %}
            {% for drinkitem in drinks_items.alcohol_items %}

            <h5> {{ drinkitem.drink_name }} </h5>
            <p> <em> {{ drinkitem.description }}</em> | <strong>£{{ drinkitem.price|floatformat:2 }}</strong></p>
            <p> {{ drinkitem.dietary }} | Allergens: {{ drinkitem.allergens }}</p>

            {% endfor %}

            {% else%}

            <p>Menu being updated - please come back soon!</p>

            {% endif %}

        </div>
    </div>


</div>

{% endblock %}