{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center my-2">Food at <span class="brand-text">GROW</span></h2>
            <p class="text-center mb-5">V - Veggie | VE - Vegan | GF - Gluten Free</p>
        </div>
    </div>
    <div class="row m-2 row d-flex justify-content-center">
        <div class="col-sm-4 col-md-8">
            <!-- Breakfast & Brunch menu -->
            <h3 class="mb-4 text-center brand-text pink-bground">Breakfast & Brunch</h3>
            <!-- Loop through list to display only breakfast/bruch items -->
            {% if food_items.breakfast_items %}

            {% for fooditem in food_items.breakfast_items %}

            <h5> {{ fooditem.dish_name }} </h5>
            <p><em> {{ fooditem.description }} </em> | <strong>£{{ fooditem.price}}</strong></p>
            <p> {{ fooditem.dietary }} | Allergens: {{ fooditem.allergens }}</p>

            {% endfor %}

            {% else%}
            <p>Menu being updated - please come back soon!</p>

            {% endif %}

            <hr>
            <!-- Dinner menu -->
            <h3 class="mb-4 text-center brand-text pink-bground">Dinner</h3>
            <!-- Loop through list to display only dinner items -->
            {% if food_items.dinner_items %}
            {% for fooditem in food_items.dinner_items %}

            <h5> {{ fooditem.dish_name }} </h5>
            <p> <em>{{ fooditem.description }} </em> | <strong>£{{ fooditem.price}}</strong></p>
            <p> {{ fooditem.dietary }} | Allergens: {{ fooditem.allergens }}</p>

            {% endfor %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}