{% extends "base.html" %}

{% block content %}

<div class="contianer">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="text-center my-2">Food at GROW</h2>

            <p class="text-center mb-5">V - Veggie | VE - Vegan | GF - Gluten Free</p>
        </div>
    </div>
    <div class="row mb-4 ">
        <!-- Empty column for spacing -->
        <div class="col-sm-4"></div>

        <!-- Breakfast & Brunch menu -->
        <div class="col-sm-4">
            <h3 class="mb-4 text-center"> Breakfast & Brunch menu</h3>
            <!-- Loop through list to display only breakfast/bruch items -->
            {% if food_items.breakfast_items %}

            {% for fooditem in food_items.breakfast_items %}

            <h5> {{ fooditem.dish_name }} </h5>
            <p><em> {{ fooditem.description }} </em> | <strong>£{{ fooditem.price}}</strong></p>
            <p> {{ fooditem.dietary }} | Allergens: {{ fooditem.allergens }}</p>

            {% endfor %}

            {% else%}
            <p>Menu being updated - please come back soon!</p>

            {% endif %}
        </div>
    </div>

    <div class="row mb-4">
        <!-- Empty column for spacing -->
        <div class="col-sm-4"></div>

        <!-- Dinner menu -->
        <div class="col-sm-4">
            <h3 class="mb-4 text-center"> Dinner menu</h3>
            <!-- Loop through list to display only dinner items -->
            {% if food_items.dinner_items %}
            {% for fooditem in food_items.dinner_items %}

            <h5> {{ fooditem.dish_name }} </h5>
            <p> <em>{{ fooditem.description }} </em> | <strong>£{{ fooditem.price}}</strong></p>
            <p> {{ fooditem.dietary }} | Allergens: {{ fooditem.allergens }}</p>

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}