{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row content mt-1 d-flex justify-content-center">
        <!-- Homepage content -->
        <div class="col-12 col-sm-8 col-lg-10">
            <!-- Animated heading to look like it's 'growing' using Animate CSS library -->
            <h1 class="animate__animated animate__zoomIn">Welcome to <span class="brand-text">GROW</span></h1>
            <br>
            <!-- 'About us' section -->
            <p>Here at GROW we have three main principles:</p>
            <ul class="principles-list green-bground p-3 mb-3">
                <li class="text-center">Eating well should never mean boring food </li>
                <li class="text-center">Seasonal produce is <strong>ALWAYS</strong> best</li>
                <li class="text-center">Plants make everything better</li>
            </ul>

            <p>This is why we endeavour to change our menu every week, with a variety of dishes inspired by our travels
                around the world.</p>
            <p>We are located in the heart of North London, a short walk from Finsbury Park or Crouch Hill station.</p>
            <p> All produce used within the restaurant is sourced locally and we only eat foods
                currently in season in the UK or that have a really low carbon footprint!</p>
            <p>Everything on the menu is vegetarian but can be made vegan - our dishes are designed with nourishment in
                mind.</p>
            <p><em>Founded in 2017 by two friends who absolutely adore food.</em></p>

        </div>
        <hr>
        <!-- Menus & Reservation images and page links -->
        <div class="row content mb-5 d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
                <div>
                    <a href="{% url 'menus' %}">
                        <img src="{% static 'images/menus-image.jpg' %}" class="img-thumbnail"
                            alt="A bowl of healthy food.">
                        <h3 class="mt-2 brand-text page-links">Menus</h3>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
                <div>
                    <a href="{% url 'reservations' %}">
                        <img src="{% static 'images/reservations-image.jpg' %}" class="img-thumbnail"
                            alt="Grow Restaurant interior">
                        <h3 class="mt-2 brand-text page-links">Reservations</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}