{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row content mt-1">
        <div class="col-sm-2">
        </div>
        <!-- Homepage content -->
        <div class="col-sm-8 text-left">
            <!-- <h1>Welcome</h1> -->
            <br>
            <p>Here at GROW we have three main principles:
                <ol class="principles-list">
                    <li class="text-center">Eating well should never = boring food </li>
                    <li class="text-center">Seasonal produce is <strong>ALWAYS</strong> best</li>
                    <li class="text-center">Plants make everything better</li>
                </ol>
            </p>
            <p>This is why we endeavour to change our menu every week, with a variety of dishes inspired by our travels
                around the world. <br> All produce used within the restaurant is sourced locally and we only eat what is
                currently in season in
                the UK.</p>
            <p>Everything on the menu is vegetarian but can me made vegan and we design our dishes with nourishment in
                mind.</p>
            <p><em>Founded in 2017 by two friends who absolutely adore food.</em></p>

            <hr>
            <!-- Menus & Reservation images and page links -->
            <div class="row content mb-2">
                <div class="col-sm-6 text-center">
                    <div>
                        <a href="{% url 'menus' %}">
                        <img src="https://res.cloudinary.com/dm3odn3pb/image/upload/v1639466481/images/menus-image.c66203a481d5_s2njwy.jpg"
                            class="img-thumbnail" alt="A bowl of healthy food.">
                        </a>
                        <a href="{% url 'menus' %}" class="page-links">
                            <h3 class="mt-2">Menus</h3>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div>
                        <a href="{% url 'reservations' %}">
                            <img src="https://res.cloudinary.com/dm3odn3pb/image/upload/v1639466482/images/reservations-image.4de700b6fa50_ae57ep.jpg"
                                class="img-thumbnail" alt="Image of the inside of Grow Restaurant">
                        </a>
                        <a href="{% url 'reservations' %}" class="page-links">
                            <h3 class="mt-2">Reservations</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}