{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 text-center">
            <h2 class=" mt-2 mb-3">Manage your reservations at <span class="brand-text">GROW</span></h2>
            <p class="mt-2">Showing reservations for: <strong>{{ customer.full_name }}</strong><br>
            (only reservations made using <strong>{{ customer.email }}</strong> are shown)</p>
            <p class="mt-2">Please use the below options to make changes to your reservations.</p>
            <p class="mt-2 mb-4">If you make any changes, your booking status will change to 'pending' to make sure
                we can accomodate your changes.</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">

        <div class="col-sm-12">
            <div class="row d-flex justify-content-center">
                {% for reservation in reservations %}
                <div class="col-md-6 col-lg-4">
                    <ul id="reservation-list" class="text-center">
                        <!-- Each reservation -->
                        <li class="reservation-item">
                            <h5>Reservation ID: {{ reservation.reservation_id }} </h5>
                        </li>
                        <!-- To display '1 person' instead of '1 people' -->
                        {% if reservation.no_of_guests == 1 %}
                        <li class="reservation-item">Guests: {{ reservation.no_of_guests }} person </li>
                        {% else %}
                        <li class="reservation-item">Guests: {{ reservation.no_of_guests }} people </li>
                        {% endif %}
                        <li class="reservation-item">Time: {{ reservation.requested_time }} </li>
                        <li class="reservation-item">Date: {{ reservation.requested_date|date:"d/m/Y" }} </li>

                        <p class="mt-3 mb-4"> This reservation is <span
                                class="{{ reservation.status }}"><strong>{{ reservation.status }}</strong></span>
                        </p>

                        <div class="text-center">
                            <a href="{% url 'edit_reservation' reservation.reservation_id %}"
                                class="button submit-button inline-btn">Edit Reservation</a>
                            <a href="{% url 'delete_reservation' reservation.reservation_id %}"
                                class="button cancel-button inline-btn">Cancel Reservation</a>
                        </div>
                        <hr>
                        </li>
                    </ul>
                </div>
                <!-- Show two per row -->
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row d-flex justify-content-center">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}