{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 class="text-center mt-2 mb-3">Manage your reservations at GROW</h2>
        <h5 class="text-center mt-2 mb-5">If you have made any previous reservations they will be displayed below.</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>   
        <div class="col-sm-6">

            <ul>   
            {% for reservation in reservations %}
                <li>
                <h5>Reservation ID: {{ reservation.reservation_id }} - {{ reservation.no_of_guests }} person at {{ reservation.requested_time }} on {{ reservation.requested_date }} </h5>
                <p> This reservation is <strong>{{ reservation.status }}</strong></p>
            </li>
                {% endfor %}
            </ul> 
        </div>
    </div>
</div>

{% endblock %}