{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h2 class="text-center mt-2 mb-3">Manage your reservations at <span class="brand-text">GROW</span></h2>
        <h5 class="text-center mt-2 mb-5"><strong>{{ customer.full_name}}</strong> if you have made any previous
            reservations they will be displayed below.</h5>

    </div>
</div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <ul id="reservation-list"> 
                {% for reservation in reservations %}
                <li class="reservation-item">
                    <h5>Reservation ID: {{ reservation.reservation_id }} - {{ reservation.no_of_guests }} people at
                        {{ reservation.requested_time }} on {{ reservation.requested_date }} </h5>
                    <p> This reservation is <strong class="{{ reservation.status }}">{{ reservation.status }}</strong>
                    </p>
                    <p><a href="{% url 'edit_reservation' reservation.reservation_id %}">Edit Reservation</a> | <a
                            href="{% url 'delete_reservation' reservation.reservation_id %}">Delete Reservation</a></p>
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}