{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid text-center">
    <div class="row content mt-1 d-flex justify-content-center">
        <!-- Menus content -->
        <div class="col-sm-8 text-left">
            <h1>Menus at <span class="brand-text">GROW</span></h1>
            <br>
            <p> We are open daily for breakfast, brunch & dinner.</p>

            <p>Our menu's change frequently to incorporate produce currently in season.</p>

            <p>We also serve daily specials but you will have to visit to find out what they are - we have to keep some
                mystery.</p>
        </div>
    </div>
    <hr>
    <!-- Food & Drinks menus images and page links -->
    <div class="row content mb-5 d-flex justify-content-center">
        <div class="col-sm-6 col-lg-4 col-xl-3 text-center">

            <a href="{% url 'food_menu' %}">
                <img src="{% static 'images/food_menu_image.jpg' %}" class="img-thumbnail"
                    alt="A bowl of healthy food.">
            </a>
            <a href="{% url 'food_menu' %}" class="page-links">
                <h3 class="mt-2 brand-text text-uppercase"><strong>Food</strong></h3>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
            <a href="{% url 'drinks_menu' %}">
                <img src="{% static 'images/drinks_menu_image.jpg' %}" class="img-thumbnail" alt="Photo of two coffees">
            </a>
            <a href="{% url 'drinks_menu' %}" class="page-links">
                <h3 class="mt-2 brand-text text-uppercase"><strong>Drinks</strong></h3>
            </a>
        </div>

    </div>
</div>

</div>

{% endblock %}