{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!-- {% load bootstrap4 %} -->
<!-- {% bootstrap_css %} -->
{% bootstrap_javascript jquery='full' %}
{{ reservation_form.media }}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 class="text-center mt-2 mb-3">Reservations at GROW</h2>
        <h5 class="text-center mt-2 mb-5">We do reserve a small number of tables for walk-ins but reservations are recommended</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>   
        <div class="col-sm-6">
            <form method="POST">
                <!-- action="{% url 'reservations' %}" -->
                <ul class="full-form">
                    {% csrf_token %}

                    {{ customer_form.errors }}
                    {{ customer_form.non_field_errors }}

                    {{ reservation_form.errors }}
                    {{ reservation_form.non_field_errors }}
                    
                    {% if user.is_authenticated %}
                    
                    <li>
                        <label for="id_full_name">Full name:</label>
                        <input type="full_name" name="full_name" id="id_full_name" value="{{ user.name }}"/>
                    </li>
                    <li>
                        <label for="id_email">Email address:</label>
                        <input type="email" name="email" id="id_email "value="{{ user.email }}"/>
                    </li>

                    <li>
                        <label for="id_phone_number">Phone number:</label>
                        <input type="tel" name="phone_number" id="id_phone_number "value="{{ user.phone_number }}"/>
                    </li>

                    {% else %}

                    {{ customer_form.as_ul}}

                    {% endif %}

                    {{ reservation_form.as_ul }}
                    
                    <button type="submit" class="button btn-outline-success mt-4 text-center submit-button">Send enquiry</button>
                
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}