{% extends "base.html" %}

{% block content %}

<!-- To display date picker -->
{% load bootstrap4 %}
<!-- {% bootstrap_css %} -->
{% bootstrap_javascript jquery='full' %}
<!-- Media to display date picker -->
{{ reservation_form.media }}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 class="text-center mt-2 mb-3">Reservations at GROW</h2>
        <h5 class="text-center mt-2 mb-5">We do reserve a small number of tables for walk-ins but reservations are recommended</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>   
        <div class="col-sm-6">
            <!-- Reservation form -->
            <form method="POST">
                <ul class="full-form">
                    
                    {% csrf_token %}

                    {{ customer_form.errors }}
                    {{ customer_form.non_field_errors }}

                    {{ reservation_form.errors }}
                    {{ reservation_form.non_field_errors }}

                    <!-- Customer form -->
                    {{ customer_form.as_ul }}
                    <!-- Reservation form -->
                    {{ reservation_form.as_ul }}

                    <button type="submit" class="button btn-outline-success mt-4 text-center submit-button">Send enquiry</button>
                
                </ul>
            </form>
        </div>
    </div>
</div>

{% endblock %}